<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/main.css"/>
    <title>VolLove Панель администратора</title>
</head>
<body>
    <div class="background"></div>
    <div class="header">
        <div id="admin_login"></div>
        <button id="reg_admin">Зарегистрировать нового администратора</button>
        <button id="logOut">Выйти</button>
    </div>

    <table>
        <tr class="table_header">
            <th>_id</th>
            <th>Имя</th>
            <th>Почта</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Статус</th>
            <th>Город</th>
            <th>Жалобы</th>
            <th>Действия</th>
        </tr>

        {{#each users}}
            <tr id="user_{{this._id}}">
                <th>{{this._id}}</th>
                <th>{{this.name}}</th>
                <th>{{this.email}}</th>
                <th>{{this.sex}}</th>
                <th>{{this.dateBirth}}</th>
                <th id="status_{{this._id}}">{{this.status}}</th>
                <th>{{this.city}}</th>
                <th>{{this.complaint}}</th>
                <th>
                    <button id="block_{{this._id}}">{{this.buttonText}}</button>
                    <button id="delete_{{this._id}}">Удалить</button>
                </th>
            </tr>
        {{/each}}
    </table>

    <script type="module" src="/scripts/main.js"></script>
</body>
</html>